services:
  backend:
    build: .
    container_name: portfolio-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      POSTGRES_URL: jdbc:postgresql://postgres:5432/portfolio_db
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
      MONGODB_URI: mongodb://mongo:27017/portfolio_db
      MONGODB_DATABASE: portfolio_db
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_started

  postgres:
    image: postgres:16-alpine
    container_name: portfolio-postgres
    environment:
      POSTGRES_DB: portfolio_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d portfolio_db"]
      interval: 5s
      timeout: 3s
      retries: 20

  mongo:
    image: mongo:7
    container_name: portfolio-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data:
